@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: --background; /* Use RGB para manipulação futura */
  --foreground: 23, 23, 23;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10, 10, 10;
    --foreground: 237, 237, 237;
  }
}

body {
  @apply bg-[rgb(var(--background))] text-[rgb(var(--foreground))] font-sans;
}
